.header {
    background-color: $color-header;
    padding: 20px;
    display: flex
}

.burger {
    display: none
}

.nav {
    @include flex-horizontal(flex-start);
    gap: 15px
}

.nav__item,.link {
    color: $color-title;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none;
}

.nav__item:hover,.link:hover {
    color: $color-text;
    text-decoration: underline
}
