.body-wrapper {
  color: $color-text;
  background-color: $color-background;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: $width-content;
  height: 100vh;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.main {
  display: flex;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
}

.info {
  padding: 30px;
}

.info-section__title {
  padding-top: 20px;
  padding-left: 7px;
  background-color: $color-frame;
  color: $color-title;
  letter-spacing: 0.2em;
  border-bottom: 3px solid $color-title;
}

.summary .text {
  padding: 15px 0;
}

.education .text {
  padding-top: 15px;
}

.info-section__list {
  padding: 15px;
}

.info-section__item {
  position: relative;
  margin-left: 20px;
}

.info-section__item:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  width: 8px;
  height: 8px;
  border: 2px solid $color-title;
  border-radius: 50%;
}

.logo__img {
  display: block;
  height: 40px;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
