.main {
  display: flex;
}
@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }
}

.title {
  text-transform: uppercase;
  font-size: 24px;
}

.info {
  padding: 30px;
}

.info-section__title {
  padding-top: 20px;
  padding-left: 7px;
  background-color: $color-frame;
  color: $color-title;
  letter-spacing: 0.2em;
  border-bottom: 3px solid $color-title;
}

.summary .text {
  padding: 15px 0;
}
.education .text {
  padding-top: 15px;
}

.info-section__list {
  padding: 15px;
}
.info-section__item {
  position: relative;
  margin-left: 20px;

  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    width: 12px;
    height: 12px;
    border: 2px solid $color-title;
    border-radius: 50%;
  }
}
